/*
 *= require animate
 *= require aos
 *= require bootstrap.min
 *= require bootstrap-datepicker
 *= require flaticon
 *= require icomoon
 *= require ionicons.min
 *= require jquery.timepicker
 *= require magnific-popup
 *= require open-iconic-bootstrap.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require style
 */

.hide-on-mobile {
  display: none;
}

.show-on-mobile {
  display: block;
}

.bag1 {
  position: absolute;
    top: 14px;
    right: 22px;
    width: 16px;
    height: 15px;
    text-align: center;
    background: #f8b500;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    font-weight: 400;
    color: #000;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
  .show-on-mobile {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
      background: #000 !important;
      position: absolute;
      top: 0;
  }
}